    html {
      box-sizing: border-box;
      background: white;
      font-family:'helvetica neue';
      font-size: 20px;
      font-weight: 200;
    }

    body {
      margin: 0;
    }

    *, *:before, *:after {
      box-sizing: inherit;
    }

    .panels {
      min-height:100vh;
      overflow: hidden;
      display: flex;
    }

    .panel {
      background:white;
      box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
      color: white;
      text-align: center;
      align-items:center;
      transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
      font-size: 20px;
      background-size:cover;
      background-position:center;
      justify-content: center;
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    .panel1 { background-image:url(https://raw.githubusercontent.com/nliles/nliles.github.io/master/Pushkar.jpg); }
    .panel2 { background-image:url(Taj.jpg); }
    .panel3 { background-image:url(https://raw.githubusercontent.com/nliles/nliles.github.io/master/Varanasi.jpg); }
    .panel4 { background-image:url(Jaipur.jpg); }
    .panel5 { background-image:url(https://raw.githubusercontent.com/nliles/nliles.github.io/master/Jaipur.jpg); }

    .panel > * {
      margin:0;
      width: 100%;
      transition:transform 0.5s;
      flex: 1;
      display: flex;
      justify-content: center;
      align-content: center;
      vertical-align: center;
    }

    .panel > *:first-child {transform: translateY(-120%); }
    .panel.open-active >*:first-child { transform: translateY(0); }
    .panel > *:last-child { transform: translateY(100%); }
    .panel.open-active > *:last-child { transform: translateY(0); }
    .panel.open-active > *:nth-child(2) { visibility: hidden; }

    .panel p {
      text-transform: uppercase;
      font-family: 'Amatic SC', sans-serif;
      text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
      font-size: 2em;
    }

    .panel p:nth-child(2) {
      font-size: 4em;
    }

    .panel.open {
      font-size: 30px;
      flex: 5;
    }

    .panel.show {
      visibility: hidden;
    }




