    html {
      font-family:'helvetica neue';
      text-align: center;
      font-size: 10px;
      background-color:   #FF7F50;
      background-image: url("VintageBlue.jpg");
      background-size: 1500px;
    }

    body {
      margin: 0;
      font-size: 2rem;
      display:flex;
      flex:1;
      min-height: 100vh;
      align-items: center;
    }

    .city {
      margin: 60px auto;
      color: white;
      background-color: #292929;
    }

    .clock {
      width: 20rem;
      height: 20rem;
      border:15px solid #FF7F50;
      border-radius:50%;
      margin:50px auto;
      position: relative;
      padding:2rem;
      background-color: #FAEBD7;
    }

    .face {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateY(-3px); /* account for the height of the clock hands */
    }

    .hand {
      background: #292929;
      position: absolute;
      top:50%;
      transform-origin: 100%;
      transform: rotate(90deg);
      transition: all 0.05s;
      transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    }

    .hour {
      width:50%;
      height:6px;
    }

    .minute {
      width:50%;
      height:3px;
    }

    .second {
      width:50%;
      height:2px;
    }