
<div class="hero">
  <h1><span>Blog</span><br>Voyage</h1>
</div>
<br>
<div class="row">
    <div id="content-1">
	   <% @articles[0..1].each do |article| %>
	      <ul>
	        <li><h3><%= link_to "#{article.title.split(",").first.upcase}", article_path(article), class: 'style-home-link' %></h3></li>
	        <br>
	      </ul>
	   <% end %>
    </div>

    <div id="content-2-1">
	   <% @articles[2..3].each do |article| %>
	      <ul>
	        <li><h3><%= link_to "#{article.title.split(",").first.upcase}", article_path(article), class: 'style-home-link' %></h3></li>
	        <br>
	      </ul>
	   <% end %>
    </div>
        <div id="content-2-2">
	   <% @articles[4..5].each do |article| %>
	      <ul>
	        <li><h3><%= link_to "#{article.title.split(",").first.upcase}", article_path(article), class: 'style-home-link' %></h3></li>
	        <br>
	      </ul>
	   <% end %>
    </div>
</div>



